/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);*/
/** {
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}*/

.my_buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.my_container {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.my_btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin: 5 auto 2em;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  /*text-transform: uppercase;*/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 100%;
  /*경계선둥글게*/
  border: 1px solid transparent;
  border-radius: 4px
}
.my_btn:hover {
  text-decoration: none;
}

.my_btn-1 {
  background: #123456;
  font-weight: 100;
}
.my_btn-1 svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.my_btn-1 rect {
  fill: none;
  stroke: #123456;
  stroke-width: 5;
  stroke-dasharray: 422, 0;
}

.my_btn-1:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 600;
  /*letter-spacing: 1px;*/
}
.my_btn-1:hover rect {
  stroke-width: 5;
  /*얼마나 돌건지*/
  stroke-dasharray: 210, 495;
  stroke-dashoffset: 300;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
